body{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:white;
}
img{
    height: 400px;
    width:fit-content
}
header{
    text-align: center;
    font-size: 30px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li:hover a:hover{ 
    font-size: 20px;
    color:rgb(255, 94, 0);
    transition: 0.5s;
}
li:active{
    color:goldenrod;
}
a:visited{
    color:crimson;
}
a:link{
    color:crimson;
}
ul{
    border-style: inset;
    border-width: 1.5px;
    padding: 10px;
    list-style-position: inside;
}
marquee{
    font-size:12px;
    color:aqua;
}
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-image: linear-gradient(to right, red , yellow);
    color:black;
}
main{
    padding:5px;
    border-style:ridge;
    border-width: 2px;
    border-color: firebrick;
    border-spacing: 1px;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size:25px;
}
.big{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    border-style: solid;
    border-image: linear-gradient(to right, red, yellow);
    border-width: 2px;
    border-spacing: 0.1px;
    border-image-slice: 1;
}
.ahhh{
    width:400px;
    height:fit-content;
}
ol li{
    font-size:24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#jj, #sr{
    margin-bottom: 5px;
}
#border{
    border-style: solid;
    border-image: linear-gradient(to right, red, yellow);
    border-width: 2px;
    border-spacing: 1px;
    border-image-slice: 1;
}
.unique{
    border-style: solid;
    border-image: linear-gradient(to right, red, yellow);
    border-width: 2px;
    border-spacing: 1px;
    border-image-slice: 1;
    font-size:30px;
    background-image: linear-gradient(white, purple);
    color: transparent;
    background-clip: text;
}
img:hover{
    transform: scale(1.5);
    transition: 2s;
}