body{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:white;
}
img{
    height: 400px;
    width:fit-content
}
header{
    text-align: center;
    font-size: 30px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li:hover a:hover{ 
    font-size: 20px;
    color:rgb(255, 94, 0);
    transition: 0.5s;
}
li:active{
    color:goldenrod;
}
a:visited{
    color:crimson;
}
ul{
    border-style: inset;
    border-width: 1.5px;
    padding: 10px;
}
marquee{
    font-size:12px;
    color:aqua;
}
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: linear-gradient(to right, red , yellow);
    color:black;
}